
body{
  text-align: center;
}

/* ////////////////// title and heading //////////////// */

.clr{
    background-color: #52575d;
}

#title{

  text-align: left;
padding: 3% 15% 0% ;
}

.big-heading{
  font-size: 3.5rem;
  line-height: 1.5;
  font-family: "Righteous", cursive;
  color: #dddddd;
}
.title-image{
  width: 400px;
padding-top: 20px;
  transform: rotate(25deg);
  /* position: absolute; */
  margin-left:100px;
}




/* ///////////////NAVBAR/////////////////////// */

.navbar-brand{
  font-size: 3rem ;
  font-family: 'Orbitron', sans-serif;
}

.navbar{
  padding-bottom: 4rem ;
}

.nav-item{

  padding: 10px;
}
.dtl{

  padding-bottom: 50px;
}

.details{

padding: 3% 10%;
background-color: #cedebd;


}

/* ////////////////// pricing /////////////// */

#pricing{

  padding: 100px;

}
.card{

margin: auto;
  padding: 3% 2%;

}

/* /////////////////// Testimonial section ////////////////// */
#testimonials{


  background-color: #888888;
  color: #fff;

}
.testimonial-image{
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}





/* //////////////ORDER AND FOOTER SECTION///////////// */



.h3f{
color: white;
  padding: 3% 20%;
}


.b1{
  margin: 20px;
}

.fs{
    font-size: 1.5rem;
}


#footer{
  padding: 4% 0;
    background-color: #ebecf1;

}
.bottom-icon{
  padding: 1% 1%;

}



@media (max-width: 900px) {
.title-image{
  transform: rotate(0);
}
h1{
  color: red;
}

}
